:root {
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 7fr;
    margin: 0;

}

.header {
    grid-column: 2 / -1;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px,1fr))

}

.sidebar {
    grid-row: 1 / 3;
    margin-left:0;
    background-color: skyblue;
    color: aliceblue;
    padding: 15px;
    
}

.sidebar h4 {
    margin-left: 10px;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
   
    background: black;
    color: aliceblue;
    border: 0.1px solid black;
    
}

ul {
    list-style-type: none;
    display: grid;
    gap: 15px;
    margin-left: 0;
}
ul li {
    margin-left: 0;
}

.second-list {  
    margin-top: 5rem;
    
}


.form-interaction
 {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    
}


input {
   
    border-radius: 15px;
    background-color: wheat;
    height: 1.5rem;
    width: 90%;
    box-shadow: 2px 2px 2px 2px rgb(0,10,11) ;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 50px;
    align-items: center;
}

button {
    width: 100px;
    height: 35px;
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 15px;
}

.name {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 80px;
    margin-top: 15px;
    align-items: center;
}
.name-name {
    font-size: larger;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.small-image {
    margin-top: 8px;
}


.big-name {
    margin-left: 50px;
    display: flex;
    
}

.small-text {
    font-size: 8px;
    margin-left: 25px;
}
.big-text {
    font-size: 28px;
    margin-left: 25px;
}

.main_content {
    background-color: rgb(215, 197, 197);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.left-side {
    padding: 10px 15px;
}

.text-title {
    margin: 35px;
    
}

.bottom-text {
    margin-right: 15px;
    justify-content: flex-end;
    display: flex;
   }

.cards-box {
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2,1fr);
    gap: 9px 4px;

}
.box-content {
    margin-top: 5px;
}

.card {
    background-color: blanchedalmond;
    padding: 5px 15px;
    margin: 5px 5px;
    border: 15px solid;
    border-radius: 15px;
    border-color: blanchedalmond;
    border-left-color: rgb(205, 154, 60);
    font-size: smaller;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.update-box {
    background-color: white;
    border-radius: 15px;
    padding: 15px 25px;
    font-size: smaller;
    margin-right: 50px;
}

.update-box h4 {
    font-size: large;
    margin-bottom: 0;
}

hr {
    border: 0.1px solid rgb(100, 64, 65);
}

.trending-box {
    border-radius: 15px;
    background-color: white;
    padding: 2px 5px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.trending-item {
    display: flex;
    justify-content: flex-start;
    padding: 2px;
    margin-left: 45px;
}
.small-text-trending {
    font-size: 8px;
    margin-left: 10px;
}

.big-text-trending {
    font-size: 16px;
    margin-left: 10px;

}
    
.trending-item img {
    margin-top: 7.8px;
}